@model IEnumerable<TVShowModel>


@foreach (var tvShow in Model)
{
    if (tvShow.PosterPath != null)
    {
        <div id="tvShow">
            <form asp-action="AddTVShowToWishList" method="post">
                <img src="https://image.tmdb.org/t/p/w500/@tvShow.PosterPath" alt="tvShow Image" />
                <input type="hidden"  asp-for="@tvShow.Name" />

                <h3>@tvShow.Name </h3>
                <p>@tvShow.OriginalName</p>
                <p>@tvShow.VoteAverage</p>
                <button type="submit" class="btn btn-primary">Add to Wishlist</button>
            </form>
        </div>


        

    }
}


