@model BookViewModel

@{
    string methodName = "RemoveBookFrom" + Model.BookListType;
}




<div class="row">

    @if (Model.Books.Count > 0)
    {
       

        @await Html.PartialAsync("_TotalItemsCountPartial", new ItemCountModel { Count = Model.Books.Count, ItemName = "book" })

        @foreach (var book in Model.Books)
        {
            if (book.SmallThumbnail != null)
            {
                <div class="col-md-3">
                    <div id="book">
                        <form method="post">

                            @await Html.PartialAsync("_BookInputsPartial", book)

                            @if (Model.BookListType == "Wishlist")
                            {
                                <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="MoveBookToFinishedlist"> Move to finishedlist</button>
                            }

                            else if (Model.BookListType == "Finishedlist")
                            {
                                <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="AddBookToFavouritelist"> Add to favourites</button>
                                <button type="submit" class="btn btn-success btn-sm mb-2" asp-action="RateBook"> Rate Book</button>
                            }
                            <button type="submit" class="btn btn-danger btn-sm mb-2" asp-action="@methodName">Remove from @Model.BookListType</button>

                        </form>
                    </div>
                </div>

            }
        }
    }
    else
    {
        <span class="alert alert-danger"> Book is not found! </span>
    }

</div>
