@model TVShowViewModel
@{ 
    Layout = "_Layout.cshtml";
    string methodName = "RemoveTVShowFrom" + Model.TVShowListType;
}


<div class="row">
    @if (Model.TVShows.Count > 0)
    {

        @await Html.PartialAsync("_TotalItemsCountPartial", new ItemCountModel { Count = Model.TVShows.Count, ItemName = "tvshow" })

        @foreach (var tvShow in Model.TVShows)
        {
            if (tvShow.BackdropPath != null)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div id="tvShow">
                        <form method="post">
                            <img src="@tvShow.BackdropPath" alt="tvShow Image" />
                            @await Html.PartialAsync("_TVShowInputsPartial", tvShow)


                            @if (Model.TVShowListType == "Wishlist")
                            {
                                <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="MoveTVShowToWatchedlist"> Move to watchedlist</button>

                            }
                            else if (Model.TVShowListType == "Watchedlist")
                            {
                                <button type="submit" class="btn btn-primary btn-sm mb-2" asp-action="AddTVShowToFavouritelist"> Add to favourites</button>
                                <button type="submit" class="btn btn-success btn-sm mb-2" asp-action="RateTVShow"> Rate TV Show</button>

                            }
                            <button type="submit" class="btn btn-danger btn-sm mb-2" asp-action="@methodName">Remove from @Model.TVShowListType </button>
                        </form>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <span class="alert alert-danger"> TVShow is not found! </span>
    }
</div>