@model List<MovieModel>

<h3>Movie page</h3>


<form asp-action="SearchMovie" method="post">
    <input type="search" class="form-control" name="query" id="query" placeholder="Enter the movie name" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>


@foreach (var movie in Model)
{
    if (movie.PosterPath != null)
    {
        <h3>@movie.Title </h3>
        <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="Movie Image" />

    }
}