@model IEnumerable<MovieModel>

<h4>Movie search page</h4>
<form asp-action="SearchMovie" method="post">
    <input type="search" class="form-control" name="query" id="query" placeholder="Enter the movie name" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>




@if (Model != null)
{
    <div class="row">
        <strong>
            Total movie count is "@Model.ToList().Count"
        </strong>
        @foreach (var movie in Model)
        {
            if (movie.PosterPath != null)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div id="movie">
                        <form method="post">
                            <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="Movie Image" />
                            @await Html.PartialAsync("_MovieInputsPartial", movie)

                            <button asp-action="AddMovieToWishList" type="submit" class="btn btn-primary btn-sm mb-2">Add to Wishlist</button>
                            <button asp-action="AddMovieToWatchedList" type="submit" class="btn btn-secondary btn-sm mb-2">Add to WatchedList</button>
                            <button type="submit" class="btn btn-info btn-sm mb-2" asp-action="MovieDetail"><i class="fa fa-eye" aria-hidden="true"></i></button>

                        </form>
                    </div>
                </div>
            }
        }
    </div>
}
