



<h3>Book page</h3>



<form asp-action="SearchBook" method="post">
    <input type="search" class="form-control" name="query" id="query" placeholder="Enter the book name" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>